/*
INDICE
1. General Styles & Animation
2. Hero section
3. Menu section
4. Eventi section
5. Gallery section
6. Footer section

*/

/* 1.-----------------GENERAL STYLES & ANIMATION------------------ */

/* ANIMATION */
/*1 testo scorrevole */
@keyframes marquee {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}
/*2 fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*3 bounce */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

/* 2.---------------------HERO SECTION------------------------- */
/* 2.1 general */
/* 2.2 immagine */
/* 2.3 titoli */
/* 2.4 button prenota */
/* 2.5 button scorri */
/* 2.6 testto scorrevole */
/* 2.7 Media Queries */

/* 2.1 general */
.hero-section {
  position: relative;
}
/* 2.2 immagine */
.hero-section img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(70%);
}
/* 2.3 titoli */
.hero-section .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Sogo", sans-serif;
}
.hero-section h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 300;
}
.hero-section h2 {
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 20px;
}

/* 2.4 button prenota */
.hero-section button {
  background: rgba(244, 244, 242, 0.7);
  backdrop-filter: blur(3px);
  border: 1px solid #382f2d;
  color: #382f2d;
  font-size: 1.3rem;
  padding: 10px 20px 5px 20px; /* padding irregolare x via del font */
  letter-spacing: 0.24rem;
  border-radius: 3px;
  font-family: "Sogo", sans-serif;
  margin-top: 30px;
}
/* 2.5 button scorri */

.hero-section .arrow-down-sect {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-60%);
}
.hero-section .scroll-down-indicator {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s ease-in-out;
}

.hero-section .scroll-down-indicator svg {
  animation: bounce 2s infinite;
}

/* 2.6 testo scorrevole */
.scrolltxt-container {
  overflow: hidden;
  white-space: nowrap;
  display: none;
}

.scrolltxt-container h3 {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 12s linear infinite;
  font-size: 2rem;
}

/* 2.7 Media Queries */

/* mobile (768px) */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
  }
  .hero-section button {
    font-size: 1rem;
  }
  .hero-section h2 {
    font-size: 0.9rem;
  }
}

/* 3.---------------------MENU SECTION------------------------- 
3.1 general
3.2 titoli
3.3 cards
3.4 Media Queries 
*/
/* 3.1 general */
.menu-section {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Sogo", sans-serif;
  color: #382f2d;
}
/* 3.2 titoli */
.menu-section h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.menu-section h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}
.menu-section h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #382f2d;
  margin: 20px auto 0;
}
.menu-section h4 {
  color: #382f2d;
  text-decoration: #382f2d underline;
}
/* 3.3 cards */
.card-menu {
  display: flex;
  gap: 30px;

  background: #f6f3f1;
  padding: 20px;
}
.card-menu img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-menu .card-text h5 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
/* 3.4 Media Queries */
/* mobile (768px) */
@media (max-width: 768px) {
  .card-menu img {
    max-width: 130px;
    max-height: 130px;
    margin: auto;
    border-radius: 10px;
  }
  .card-menu p {
    font-size: 0.9rem;
  }
  .menu-section h1 {
    font-size: 1.7rem;
  }
  .menu-section h3 {
    font-size: 1.3rem;
  }
}

/* 4. -------------------------EVENTI SECTION-------------------------
4.1 general
4.2 titoli
4.3 cards
4.4 Media Queries 
*/
/* 4.1 general */
.eventi-section {
  max-width: 95vw;
  min-height: 100vh;
  font-family: "Sogo", sans-serif;
  color: #382f2d;
  background: #f1e8da; /*#382f2d; */
  border-radius: 10px;
  margin: auto;
  display: none;
}
/* 4.2 titoli */
.eventi-section h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;

  border-bottom: 1px solid #f6f3f1;
  padding-bottom: 3px;
}
.eventi-section h4 {
  color: #382f2d;
  text-decoration: #382f2d underline;
}

/* 4.3 cards */
.eventi-section .card-eventi {
  display: flex;
  gap: 40px;
  padding: 20px;
  background: #f6f3f1;
  border-radius: 5px;
  margin-bottom: 30px;
}
.eventi-section .card-eventi img {
  width: 300px;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.eventi-section .card-eventi h3 {
  font-weight: bold;
  font-size: 1.4rem;
}
.eventi-section .card-eventi h5 {
  font-size: 1.1rem;
}
.eventi-section .card-eventi p {
  font-size: 1.2rem;
}

/* 4.4 Media Queries */
/* mobile (768px) */
@media (max-width: 768px) {
  .eventi-section {
    min-width: 100vw;
  }
  .eventi-section .card-eventi img {
    max-width: 190px;
  }
  .eventi-section .card-eventi {
    border-radius: 3px;
  }
  .eventi-section .card-eventi h3 {
    font-size: 1.2rem;
    text-align: center;
  }
  .eventi-section .card-eventi h5 {
    font-size: 0.9rem;
    text-align: center;
  }
  .eventi-section .card-eventi p {
    font-size: 0.9rem;
  }
  .eventi-section h4 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 20px;
  }
}

/* 5.-------------------------GALLERY SECTION-------------------------
5.1 general
5.2 immagini
5.3 titoli testi e bottoni
5.4 Maps
5.5 Media Queries
*/
/* 5.1 general */
.gallery-section {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Sogo", sans-serif;
}
.gallery-container-custom {
  padding-left: 4vw !important;
  padding-right: 4vw !important;
}

/* 5.2 immagini */
.gallery-section img {
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #382f2d;
  filter: brightness(80%);
}
.gallery-section .row > div:first-child img {
  width: 90%;
  height: 80%;
}
.gallery-section .row > div:last-child img {
  width: 100%;
  height: 50%;
  margin-top: 50px;
}

/* 5.3 titoli testi e bottoni */
.gallery-section button {
  background: rgba(244, 244, 242, 0.7);
  backdrop-filter: blur(3px);
  border: 1px solid #382f2d;
  color: #382f2d;
  font-size: 1.3rem;
  padding: 10px 20px 5px 20px; /* padding irregolare x via del font */
  letter-spacing: 0.24rem;
  border-radius: 3px;
  font-family: "Sogo", sans-serif;
  margin-top: 30px;
  display: flex;
  margin-inline: auto;
  margin-top: 30px;
}
.gallery-section a {
  text-decoration: none;
}

/* 5.4 Maps */
.location-map-wrapper {
  margin-top: 20px;
  border: 1px solid #382f2d;
  border-radius: 10px;
}

/* 5.5 Media Queries */
/* mobile (768px) */
@media (max-width: 768px) {
  .gallery-section .row > div:first-child img {
    width: 100%;
  }
  .gallery-section .row > div:last-child {
    display: flex;
    flex-direction: column;
  }

  .gallery-section .row > div:last-child button {
    order: 2;
  }
  .gallery-section button {
    margin-bottom: 30px;
    font-size: 1em;
  }
}

/* ---------------------
6. CONTACT HOME SECTION (FISSA IN BASSO)
---------------------- */
.contact-home {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 6vh;
  background-color: #d7cdc386;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.contact-home-content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #382f2d;
  font-family: "Sogo", sans-serif;
}

.contact-home-content p {
  font-size: 1.2rem;

  margin: auto;
}

.contact-icons {
  display: flex;
  gap: 50px;
}

.contact-icons p {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-home-content {
    gap: 5px;
  }
  .contact-icons {
    gap: 30px;
  }
  .contact-icons img {
    width: 20px;
  }
}
