/*
INDICE CSS
1. Generali
2. Navbar menu
3. Categorie e prodotti
4. Bottone Prenota
5. Media queries
*/

/* -----------------------------
1. GENERALI
----------------------------- */
.menu-page {
  padding: 20px;
  font-family: "Sogo", sans-serif;
  margin-top: 86px; /*  altezza navbar */
}

/* -----------------------------
  2. NAVBAR MENU
  2.1 generali
  2.2 bottoni
  ----------------------------- */

/* 2.1 generali */
.menu-navbar {
  position: sticky;
  top: 86px;
  background-color: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

/* 2.2 bottoni */
.menu-navbar button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #444;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.menu-navbar button.active {
  color: #000;
  border-bottom: 2px solid #f9b233;
}

/* -----------------------------
  3. CATEGORIE E PRODOTTI
  3.1 generali
  3.2 titoli e descrizioni
  3.3 immagini
  ----------------------------- */

/* 3.1 generali */
.menu-category {
  padding: 40px 10px;
}
.menu-item {
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  display: flex;
  gap: 40px;
}
.menu-item div {
  margin-block: auto;
}
/* 3.2 titoli e descrizioni */
.menu-category h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #382f2d;
}

.menu-item h4 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.menu-item p {
  margin: 5px 0 0;
  font-size: 0.95rem;
  color: #555;
}

/* 3.3 immagini */

.menu-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* -----------------------------
  4. BOTTONE PRENOTA
  ----------------------------- */
.menu-page .menu-foot {
  display: flex;
}
.menu-page .menu-foot button {
  margin: auto;
  background: rgba(244, 244, 242, 0.7);
  backdrop-filter: blur(3px);
  border: 1px solid #382f2d;
  color: #382f2d;
  font-size: 1.3rem;
  padding: 10px 20px 5px 20px; /* padding irregolare x via del font */
  letter-spacing: 0.24rem;
  border-radius: 3px;
}

/* -----------------------------
  5. MEDIA QUERIES (mobile)
  ----------------------------- */
@media (max-width: 768px) {
  .menu-navbar {
    gap: 10px;
    top: 65px;
  }
  .menu-navbar button {
    font-size: 0.95rem;
  }
  .menu-category h2 {
    font-size: 1.3rem;
  }
  .menu-item img {
    width: 150px;
    height: 150px;
  }
  .menu-item h4 {
    font-size: 1rem;
  }
  .menu-item p {
    font-size: 0.9rem;
  }
  .menu-page .menu-foot button {
    font-size: 0.9rem;
  }
}
