/* -------------------------FOOTER SECTION-------------------------
*/
.footer-section {
  background-color: #f6f3f1;
  color: #382f2d;
  padding: 40px 0;
  font-family: "Sogo", sans-serif;
  font-size: 0.95rem;
  border-top: 1px solid #e0dcd8;
}

.footer-section a {
  color: #382f2d;
  text-decoration: none;
  margin: 0 5px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-nav a {
  margin: 0 8px;
}
